nav{
    height: 50px;
    width: auto;
    text-align: center;
    

        h2{
            color: #fff;
        }
    a{
        color: #fff;
        list-style: none;
        padding: 0 35px;
        text-decoration: none;
        
    }
}